{% load static %}

<!-- Stories -->
<section class="article-section section">

    <h2 class="section-title" data-name="AaLupino Stories">AaLupino Stories</h2>

    <div class="swiper swiper1">
        <div class="swiper-wrapper">

            {% for article in articles %}
            <a href="{% url 'article' article.id %}" class="article swiper-slide">
                <div class="article-container">
                    <img src="{{ article.banner.url }}" alt="">
                    <div class="article-description">
                        <h2>{{ article.title }}</h2>
                        <span>
                            {{ article.parag1|slice:":100" }}
                        </span>
                    </div>
                </div>
            </a>
            {% empty %}
            <p>There is no stories.</p>
            {% endfor %}
        </div>
    </div>

</section>