{% extends 'main.html' %}

{% load static %}

{% block content %}

<section class="blog-post section-header-offset">
    <div class="blog-post-container container">
        <div class="blog-post-data">
            <h3 class="blog-post-title">{{ article.title }}</h3>
            <div class="article-data">
                <span>{{article.created}}</span>
                <span class="article-data-spacer"></span>
                <span>{{ article.timeTaken }} Min read</span>
            </div>
            <img src="{{ article.banner.url }}" alt="">
        </div>

        <div class="container">
            <p>
                {{ article.parag1 }}
            </p>

            {% if article.image1 %}
            <div class="article-image-box">
                <img src="{{ article.image1.url }}" alt="" class="art-image">
            </div>
            {% endif %}

            {% if article.image2 %}
            <div class="article-image-box">
                <img src="{{ article.image2.url }}" alt="" class="art-image">
            </div>
            {% endif %}

            <p>
                {{ article.parag2 }}
            </p>

            {% if article.image3 %}
            <div class="article-image-box">
                <img src="{{ article.image3.url }}" alt="" class="art-image">
            </div>
            {% endif %}

            {% if article.qoute %}
            <blockquote class="quote">
                <p><span><i class="ri-double-quotes-l"></i></span> {{ article.qoute }} <span><i
                            class="ri-double-quotes-r"></i></span></p>
            </blockquote>
            {% endif %}

            <p>
                {{ article.parag3 }}
            </p>

            {% if article.image4 %}
            <div class="article-image-box">
                <img src="{{ article.image4.url }}" alt="" class="art-image">
            </div>
            {% endif %}

            <p>
                {{ article.parag4 }}
            </p>

            {% if article.author %}
            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="{{ article.author_image.url }}" alt="" class="article-image">
                </div>
                <div class="author-about">
                    <h3 class="author-name"> {{ article.author }} </h3>
                    <p>
                        {{ article.author_details }}
                    </p>
                    <ul class="list social-media">
                        <li class="list-item">
                            <a href="#/{{ author_instagram }}" class="list-link"><i class="ri-instagram-line"></i></a>
                        </li>
                        <li class="list-item">
                            <a href="#/{{ author_facebook }}" class="list-link"><i
                                    class="ri-facebook-circle-line"></i></a>
                        </li>
                        <li class="list-item">
                            <a href="#/{{ author_twitter }}" class="list-link"><i class="ri-twitter-line"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}