{% load static %}

<!-- Stories -->
<section class="article-section section">

    <h2 class="section-title" data-name="AaLupino Stories">AaLupino Stories</h2>

    <div class="swiper">
        <div class="swiper-wrapper">

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias
                            quaerat accusamus labore dolorem nobis reiciendis.
                        </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

            <a href="#" class="article swiper-slide">
                <div class="article-container">
                    <img src="{% static './assets/img/banner/b19.jpg' %}" alt="">
                    <div class="article-description">
                        <h2>Lorem Ipsum Checkers</h2>
                        <span>
                            Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus
                            quibusdam
                            alias quaerat accusamus labore dolorem nobis reiciendis. </span>
                    </div>
                </div>
            </a>

        </div>
    </div>

</section>