{% load static %}

<!-- Dropping -->
<section class="trending-container lg-banner-container section">
    <h2 class="section-title" data-name="Dropping">Dropping</h2>
    <div class="lg-banner container">
        <img src="{% static './assets/img/blog/b4.jpg' %}" class="lg-banner-img">
        <div class="lg-banner-description">
            <h2>Lorem Ipsum Checkers</h2>
            <span>
                Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus quibusdam alias
                quaerat accusamus labore dolorem nobis reiciendis.
            </span>
        </div>
        <div>
            <button class="white">Notify Me</button>
            <button class="white">Shop the Collection</button>
        </div>
    </div>
</section>