{% extends 'main.html' %}

{% block content%}
<!-- Hero -->
<section class="hero section-header-offset" id="hero">
    <div class="container">
        <h4>Trade-In-Offers</h4>
        <h2>Super Value Deals</h2>
        <h1>On All Products</h1>
        <p>
            Lorem Ipsum is the right wrong I think.
        </p>
        <button class="noSelect">Order Now</button>
    </div>
</section>

{% include 'populartag.html' %}
{% include 'trending.html' %}
{% include 'products.html' %}
{% include 'dropping.html' %}
{% include 'banner.html' %}
{% include 'newarrivals.html' %}
{% include 'sm-banner.html' %}
{% include 'articleslider.html' %}
{% include 'newsletter.html' %}

{% endblock content%}