{% load static %}

<!-- Popular tags -->
<section class="popular-tags section">
    <div class="container">
        <h2 class="section-title" data-name="Popular tags">Popular tags</h2>
        <div class="popular-tags-container d-grid">
            <a href="#" class="tags noSelect">
                <span class="tag-name">Men</span>
                <img src="{% static './assets/images/banner/b4.jpg' %}" alt="" class="tags-image">
            </a>

            <a href="#" class="tags noSelect">
                <span class="tag-name">Women</span>
                <img src="{% static './assets/images/banner/b7.jpg' %}" alt="" class="tags-image">
            </a>

            <a href="#" class="tags noSelect">
                <span class="tag-name">Kids</span>
                <img src="{% static './assets/images/banner/b18.jpg' %}" alt="" class="tags-image">
            </a>
        </div>
    </div>
</section