{% load static %}

<!-- Products -->
<section class="pro-products section" id="pro-products">
    <h2 class="section-title" data-name="Popular Right Now">Popular Right Now</h2>

    <div class="product-container">
        <h2 class="product-title">T-Shirts</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Sliders-->
                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f1.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn">
                        <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i>
                    </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f2.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f3.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f4.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f5.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f6.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f7.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>

                <div class="products swiper-slide">
                    <img src="{% static './assets/img/products/f8.jpg' %}" alt="" />
                    <div class="description">
                        <span>Adidas</span>
                        <h5>Cartoon Summer T-Shirt</h5>
                        <h4>$98</h4>
                    </div>
                    <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                        <i class="ri-heart-fill heart-fill-icon"></i> </button>
                </div>
            </div>
            <!-- Pagination
            <div class="swiper-pagination"></div> -->
        </div>

        <div class="product-container">
            <h2 class="product-title">Hoodies</h2>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Sliders-->
                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f1.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f2.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f3.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f4.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f5.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f6.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f7.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>

                    <div class="products swiper-slide">
                        <img src="{% static './assets/img/products/f8.jpg' %}" alt="" />
                        <div class="description">
                            <span>Adidas</span>
                            <h5>Cartoon Summer T-Shirt</h5>
                            <h4>$98</h4>
                        </div>
                        <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                class="ri-heart-line heart-icon"></i> <i class="ri-heart-fill heart-fill-icon"></i>
                        </button>
                    </div>
                </div>
                <!-- Pagination
                <div class="swiper-pagination"></div> -->
            </div>

            <div class="product-container">
                <h2 class="product-title">Trousers</h2>
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Sliders-->
                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f1.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f2.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f3.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f4.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f5.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f6.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f7.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>

                        <div class="products swiper-slide">
                            <img src="{% static './assets/img/products/f8.jpg' %}" alt="" />
                            <div class="description">
                                <span>Adidas</span>
                                <h5>Cartoon Summer T-Shirt</h5>
                                <h4>$98</h4>
                            </div>
                            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i
                                    class="ri-heart-line heart-icon"></i> <i
                                    class="ri-heart-fill heart-fill-icon"></i> </button>
                        </div>
                    </div>
                    <!-- Pagination
                    <div class="swiper-pagination"></div> -->
                </div>
</section>