{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- Products -->
<section class="pro-products shop-products section" id="pro-products">
    <h2 class="product-title">Mens Clothing</h2>
    <hr>

    <div class="stat">
        <h4>1245 Results</h4>
        <button>
            <span>Filter</span>
            <i class="ri-equalizer-line"></i>
        </button>
    </div>

    <div class="product-container">

        {% for product in products %}
        <div class="products" onclick="window.location.href='/product/{{product.pro_slug}}';">
            <img src="{{ product.sm_image_x1.url }}" alt="" />
            <div class="description">
                <span>{{ product.name }}</span>
                <h5>{{ product.description }}</h5>
                <h4>${{ product.price }}</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn">
                <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>
        {% endfor %}

    </div>

</section>

{% include 'articleslider.html' %}
{% include 'newsletter.html' %}

{% endblock content %}