{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- Products -->
<section class="pro-products shop-products section" id="pro-products">
    <h2 class="product-title">Mens Clothing</h2>
    <hr>

    <div class="stat">
        <h4>1245 Results</h4>
        <button>
            <span>Filter</span>
            <i class="ri-equalizer-line"></i>
        </button>
    </div>

    <div class="product-container">
        <div class="products" onclick="window.location.href='/product/1';">
            <img src="{% static './assets/img/products/f1.jpg' %}" alt="" />
            <div class="description">
                <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn">
                <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f2.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f3.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f4.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f5.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f6.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f7.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/f8.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n1.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n2.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n3.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n4.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n5.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n6.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n7.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

        <div class="products">
            <img src="{% static './assets/img/products/n8.jpg' %}" alt="" />
            <div class="description"> <span>Adidas</span>
                <h5>Cartoon Summer T-Shirt</h5>
                <h4>$98</h4>
            </div>
            <button class="heart-toggle-btn" id="heart-toggle-btn"> <i class="ri-heart-line heart-icon"></i>
                <i class="ri-heart-fill heart-fill-icon"></i>
            </button>
        </div>

    </div>

</section>

{% include 'articleslider.html' %}
{% include 'newsletter.html' %}

{% endblock content %}