{% load static %}
    
<!-- Trending -->
<section class="trending-container lg-banner-container section">
    <h2 class="section-title" data-name="Trending Now">Trending Now</h2>
    <div class="lg-banner container">
        <img src="{% static './assets/img/blog/b1.jpg' %}" class="lg-banner-img">
        <div class="lg-banner-description">
            <h2>Lorem Ipsum Checkers</h2>
            <span>
                Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus quibusdam alias
                quaerat accusamus labore dolorem nobis reiciendis.
            </span>
        </div>
        <button class="white">Shop the Collection</button>
    </div>

    <div class="lg-banner container">
        <img src="{% static './assets/img/blog/b4.jpg' %}" class="lg-banner-img">
        <div class="lg-banner-description">
            <h2>Lorem Ipsum Checkers</h2>
            <span>
                Lorem ipsum Voluptate molestiae cumque distinctio vitae quis, hic nulla ex natus quibusdam alias
                quaerat accusamus labore dolorem nobis reiciendis.
            </span>
        </div>
        <button class="white">Check It Out</button>
    </div>
</section>