{% extends 'main.html' %}

{% block content %}
<section class="section-header-offset container">
    <div class="form-container-inner">
        <p class="login-form-note">You are about to Create/Edit an Article.</p>

        <form method="POST" action="" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-input-wrapper">
                {% load widget_tweaks %}

                <div class="input-wrapper">
                    {% render_field form.title class="login-form-input" id="title" placeholder="Title" type="text" %}
                </div>
                <div class="input-wrapper">
                    <label for="banner">Banner:</label>
                    {% render_field form.banner name="banner" class="login-form-input" id="banner" type="file" accept="image/*" %}
                    <div class="instruct">
                        <p><span><i class="ri-close-line"></i></span>Banner image cannot be empty</p>
                    </div>
                </div>
                <div class="input-wrapper">
                    {% render_field form.parag1 class="login-form-input" id="parag1" placeholder="You can start here..." type="textfield" %}
                </div>
                <div class="input-wrapper">
                    <label for="image1">Image 1:</label>
                    {% render_field form.image1 name="image1" class="login-form-input" id="image1" type="file" %}
                </div>
                <div class="input-wrapper">
                    <label for="image2">Image 2:</label>
                    {% render_field form.image2 name="image2" class="login-form-input" id="image2" type="file" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.parag2 class="login-form-input" id="parag2" placeholder="Continue here..." type="textfield" %}
                </div>
                <div class="input-wrapper">
                    <label for="image3">Image 3:</label>
                    {% render_field form.image3 name="image3" class="login-form-input" id="image3" type="file" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.qoute class="login-form-input" id="qoute" placeholder=" ...significant Qoute" type="text" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.parag3 class="login-form-input" id="parag3" placeholder="Continue here..." type="textfield" %}
                </div>
                <div class="input-wrapper">
                    <label for="image4">Image 4:</label>
                    {% render_field form.image4 name="image4" class="login-form-input" id="image4" type="file" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.parag4 class="login-form-input" id="parag4" placeholder="Continue here..." type="textfield" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.author class="login-form-input" id="author" placeholder="Author" type="text" %}
                </div>
                <div class="input-wrapper">
                    <label for="author-image">Author Image:</label>
                    {% render_field form.author_image name="author-image" class="login-form-input" id="author-image" type="file" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.author_details class="login-form-input" id="author-details" placeholder="Author details" type="textfield" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.author_instagram class="login-form-input" id="author-instagram" placeholder="Author IG" type="text" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.author_facebook class="login-form-input" id="author-facebook" placeholder="Author Facebook" type="text" %}
                </div>
                <div class="input-wrapper">
                    {% render_field form.author_twitter class="login-form-input" id="author-twitter" placeholder="Author Twitter" type="text" %}
                </div>

            </div>
            <!--{{ form.as_p }}-->
            <input class="btn login-form-btn" type="submit" value="submit" />
        </form>
    </div>
</section>

{% endblock content %}