{% extends 'main.html' %}

{% block content%}
<!-- Hero -->
<section class="hero section-header-offset" id="hero">
    <div class="container">
        <h4>Trade-In-Offers</h4>
        <h2>Super Value Deals</h2>
        <h1>On All Products</h1>
        <p>
            Lorem Ipsum is the right wrong I think.
        </p>
        <button class="noSelect">Order Now</button>
    </div>
</section>

{% include 'base/populartag.html' %}
{% include 'base/trending.html' %}
{% include 'base/productsliders.html' %}
{% include 'base/dropping.html' %}
{% include 'base/banner.html' %}
{% include 'base/newarrivals.html' %}
{% include 'base/sm-banner.html' %}
{% include 'base/articleslider.html' %}
{% include 'base/newsletter.html' %}

{% endblock content%}