{% extends 'mainreg.html' %}

{% block content %}

<section class="login-form-container container">
    <div class="form-container-inner">
        <p class="login-form-note">What's your password?</p>
        <div class="email-check">
            <p>
                <span>{{email}}</span> <a href="{{request.META.HTTP_REFERER}}">Edit</a>
            </p>
        </div>
        <form method="POST" action="" class="form">
            {% csrf_token %}

            <div class="input-wrapper">
                <input class="login-form-input" id="password" type="password" name="password" placeholder="Password" />
                <button class="btn noSelect place-icon" id="password-toggle-btn">
                    <i class="ri-eye-line eye-icon"></i>
                    <i class="ri-eye-off-line eye-off-icon"></i>
                </button>
            </div>
            <div class="messages">
                {% if messages %}
                {% for message in messages %}
                <span class="message">{{message}}</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-condition">
                <p><span class="noSelect"><a href="#">Forgotten your password?</a></span>
                </p>
            </div>
            <button class="btn login-form-btn" id="submit" type="submit">Continue
            </button>
        </form>
</section>

{% endblock content %}