{% extends 'main.html' %}

{% load static %}

{% block content %}
<!-- Products Details -->
<section class="product-details section" id="product-details">
    <div class="pro-description">
        <span>{{ product.name }}</span>
        <h5>{{ product.description }}</h5>
        <h4>${{ product.price }}</h4>
    </div>
    <div class="product-img">
        <img src="{{ product.sm_image_x1.url }}" alt="" width="100%" id="main-img">

        <div class="swiper swiper2">
            <div class="swiper-wrapper sm-product-imgs">

                {% if product.sm_image1 and product.sm_image_x1 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image_x1.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image1.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}

                {% if product.sm_image2 and product.sm_image_x2 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image_x2.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image2.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}

                {% if product.sm_image3 and product.sm_image_x3 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image_x3.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image3.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}

                {% if product.sm_image4 and product.sm_image_x4 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image_x4.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image4.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}

                {% if product.sm_image5 and product.sm_image_x5 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image_x5.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image5.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}

                {% if product.sm_image6 and product.sm_image_x6 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image_x6.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image6.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}

                {% if product.sm_image7 and product.sm_image_x7 %}
                <div class="sm-product-col swiper-slide">
                    <img src="{{ product.sm_image7.url }}" class="sm-img-x">
                    <img src="{{ product.sm_image7.url }}" alt="" width="100%" class="sm-img">
                </div>
                {% endif %}
            
            </div>
        </div>
    </div>

    <div class="pro-sizes">
        <div class="size-details">
            <span>Select Size</span>
            <span id="guide">Size Guide</span>
        </div>
        <div class="size-btns">
            <button class="size-btn">XS</button>
            <button class="size-btn">S</button>
            <button class="size-btn">M</button>
            <button class="size-btn">L</button>
            <button class="size-btn">XL</button>
            <button class="size-btn">XXL</button>
            <button class="size-btn">XL Tall</button>
        </div>
    </div>

    <div class="add-product">
        <button class="add-to-bag">Add to Bag</button>
        <button class="fav">
            <span>Favorite</span>
            <i class="ri-heart-line heart-icon"></i>
        </button>
    </div>

    <div class="pro-note">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, odio quisquam. Aliquam qui distinctio
            explicabo nesciunt inventore, voluptatibus
        </p>
        <div class="note-details">
            <div>
                <span class="dot"></span>
                <span>Product color: Colored</span>
            </div>
            <div>
                <span class="dot"></span>
                <span>Product code: R4ND0M</span>
            </div>
        </div>
    </div>

</section>

{% include 'base/trendads.html' %}
{% include 'base/suggestproduct.html' %}
{% include 'base/articleslider.html' %}
{% include 'base/newsletter.html' %}


{% endblock content %}