{% extends 'mainreg.html' %}

{% block content %}

<section class="signup-form-container container">
    <div class="form-container-inner">
        <p class="login-form-note">Now let's make you a Member.</p>
        <div class="email-check">
            <p> <span>We've sent a code to</span> <br>
                <span>{{email}}</span> <a href="{{request.META.HTTP_REFERER}}">Edit</a>
            </p>
        </div>
        <form method="POST" action="" class="form">
            {% csrf_token %}
            <div class="form-input-wrapper">
                {% load widget_tweaks %}
                
                <div class="input-wrapper">
                    {% render_field form.email class="login-form-input" id="email-input" placeholder="Email" type="email" %}
                </div>

                <div class="input-wrapper">
                    <input class="login-form-input" id="code" type="number" placeholder="Code" required />
                    <button type="button" class="btn noSelect place-icon" id="refresh-btn">
                        <i class="ri-refresh-line"></i> </button>
                </div>
                
                <div class="name-input-wrapper input-wrapper">
                    <div class="first-name">
                        {% render_field form.first_name class="login-form-input" id="first-name" placeholder="First Name" type="text" %}
                    </div>
                    <div class="last-name">
                        {% render_field form.last_name class="login-form-input" id="last-name" placeholder="Last Name" type="text" %}
                    </div>
                </div>
                <div class="input-wrapper">
                    {% render_field form.password1 class="login-form-input" id="password" placeholder="Password" type="password" %}
                    <div class="instruct">
                        <p><span><i class="ri-close-line"></i></span>Minimum of 8 characters</p>
                        <p><span><i class="ri-close-line"></i></span>Uppercase, lowercase and one number</p>
                    </div>
                    <button class="btn noSelect place-icon" id="password-toggle-btn">
                        <i class="ri-eye-line eye-icon"></i> <i class="ri-eye-off-line eye-off-icon"></i> </button>
                </div>

                <div class="input-wrapper" id="preference">
                    <select name="" id="" class="login-form-input">
                        <option value="" disabled selected hidden>Shopping Preference</option>
                        <option value="">Men's</option>
                        <option value="">Women's</option>
                    </select>
                </div>
                <div class="input-wrapper">
                    {% render_field form.date_of_birth class="login-form-input" id="date" placeholder="Date" type="date" %}
                </div>

            </div>
            <div class="form-agreement">
                <div class="form-condition">
                    <input type="checkbox" name="" id="">
                    <p>Sign up for emails to get updates form AaLupino on products, offers and you Member
                        benefits. </p>
                </div>
                <div class="form-condition">
                    <input type="checkbox" name="" id="">
                    <p>I agree to AaLupino's <span>Privacy Policy</span>
                        and <span>Terms of Use.</span>
                    </p>
                </div>
            </div>

            <button class="btn login-form-btn" type="submit">
                <span>Create Account</span>
            </button>
        </form>
</section>

{% endblock content %}