<!-- Sm-Banner -->
<section class="sm-banner section" id="sm-banner">
    <div class="banner-box">
        <h4>Crazy deals</h4>
        <h2>Lorem Ipsum Xpx</h2>
        <span>The best classic dress is on sale at AaLupino</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box-2">
        <h4>Spring/Summer</h4>
        <h2>Upcomming Lorem</h2>
        <span>The best classic t-shirt is on sale at AaLupino</span>
        <button class="white">Collection</button>
    </div>
</section>